
h1{
	text-align: center;
}

h3{
	color: white;
	text-align: center;
}

h2{
	color: white;
	text-align: center;
}

body{
	background-color: #cccccc;
}

#detailsForm, #functionDetails, #contactDetails, #privateEvent, #childEvent{
	margin-left: 20%;
	margin-right: 20%;
	background-color: #56C2A9;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 6px;
}

#functionDetails, #contactDetails, #privateEvent, #childEvent{
	margin-top: 15px;
}

#name, #surname, #cell, #email, #additionalInfo{
	padding-bottom: 15px;
}

#datepicker, #date{
	padding-bottom: 15px;
}

.dDown{
	position: relative;
	/*padding-bottom: 15px;*/
}

#functionDetails, #amountGuests, #endTime, #contactDetails{
	padding-bottom: 15px;
}

#dialogue{
	padding-left: 2px;
}

#submitBTN{
	padding-top: 15px;
	margin-left: 48%;
}
